*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
* ul {
	margin-left: 20px;
}
body {
	background: #ddd;
}
.col-xs-12.col-md-6 {
}
.hello ul li a {
	color: #000;
}

* h4,
* h1 {
	padding: 10px;
}
.panel-title > a span {
	color: #ccc;
}

.panel-heading {
	padding: 0;
}

.container {
	margin-top: 70px;
}

@media (max-width: 500px) {
}
